{% extends "bases/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <h5 style="font-size: 32pt;">Статьи на польском языке</h5>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for text in texts %}
    <div class="col">
      <div class="card custom-card">
        <div class="position-relative">
          <img src="{{ text.file }}" class="card-img-top" alt="Placeholder Image">
          <div class="position-absolute bottom-0 start-0" style="padding: 10px;">
            <a href="javascript:;" class="btn btn-primary go-somewhere" style="display: none;" data-text-id="{{ text.id }}">Читать</a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ text.title }}</h5>
          <p class="card-text">
            {{ text.description }}<br>
            <b>Автор:</b> 
            {% for author in text.authors.all %}
              {{ author }}
            {% endfor %}<br>
            <b>Жанр: </b> 
            {% for genre in text.genres.all %}
              {{ genre }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Вы не авторизованы</p>
  <p><a href="{% url 'password_reset' %}">Сбросить пароль</a></p>
  <p><a href="{% url 'login' %}">Войти</a></p>
  {% endif %}
{% endblock %}