{% extends "bases/base.html" %}

{% block title %}Аккаунт{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Добро пожаловать в личный кабинет, {{ user.username }}!</p>
<p><a href="{% url 'password_change' %}">Изменить пароль</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Выйти</button>
</form>
{% else %}
<p>Вы не атворизованы</p>
<p><a href="{% url 'password_reset' %}">Сбросить пароль</a></p>
<p><a href="{% url 'login' %}">Выйти</a></p>
{% endif %}
{% endblock %}