.content {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}  
.custom-card {
    width: 200px;
    margin-bottom: 15px; /* Add margin-bottom to create space between cards */
}

.custom-card .card-img-top {
    height: 150px; /* Adjust the height of the image */
    object-fit: cover;
}

.custom-card .card-body {
    padding: 10px;
}